body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    background-color: #4e5085;
}

canvas {
    border: 20px solid #535252;
}
